#main {
    display: flex;
    width: 100%;
}

.library {
    width: 280px;
    height: 520px;
    margin: 8px;
    background-color: #121212;
    border-radius: 6px;
}

.library_top_container {
    display: flex;
    flex-direction: column;
}

.topline {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content:space-around;
    padding-top: 8px;
    padding-right: 8px;
}
.topline h3 {
    font-size:medium;
    font-family: spotifyUIbold;
    margin-right: 60px;
    font-weight: 700;
    letter-spacing: normal;
}

#expand {
    width: 16px;
    height: 16px;
}

#createPlaylist {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease;
}

#createPlaylist:hover {
    background-color: #2a2a2a;
}

.secondline {
    display: flex;
    margin: 8px 8px 8px;
}


.secondline span {
    background-color: #2a2a2a;
    padding: 8px 12px 8px 12px;
    border-radius: 18px;
    margin: 0px 5px;
    transition: background-color 0.25s ease;
}

.secondline span:hover{
    background-color: #343434;
}

.library_bottom_container {
    padding: 6px;
    height: 400px;
    overflow-y: auto;
}

@-moz-document url-prefix() {
.library_bottom_container {
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}
.library_bottom_container:hover {
    scrollbar-color: #909090 transparent;
}
}

.library_bottom_container::-webkit-scrollbar {
  width: 12px;
}
.library_bottom_container::-webkit-scrollbar-thumb {
  background-color: #666;
}

.library_bottom_container::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}


.minicontainer {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
}
.recents {
    width: 70px;
    display: flex;
    justify-content: space-between;
    transition: color 0.3s ease;
}

.recents:hover {
    color: #d8d8d8;
}

.minicontainer img {
    width: 16px;
    height: 16px;
}

.library_list {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
    padding: 5px;
}




.rect_card {
    min-height: 60px;
    padding: 4px;
    display: flex;
    height: 60px;
    margin-bottom: 2px;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.25s ease;
}
.rect_card:hover {
    background-color: #1f1f1f;
}

.rectcard_imgdiv{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.rectcard_imgdiv img {
    border-radius: 4px;
    width: 46px;
    height: 46px;
}
.artist img {
    border-radius: 50%;
}


.rectcard_detaildiv {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.rect_title {
    font-size: larger;
    color: #ededed;
    font-weight: 500;
}
