@font-face {
    font-family: spotifyUIbold;
    src: url("./assets/spotify_mix_ui_bold.otf");
}
@font-face {
    font-family: spotifyUInormal;
    src: url("./assets/spotify_mix_ui_regular.otf");
}
html, body {
    width: 100%;
    height: 100%;
    background-color: black;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: spotifyUInormal;
    font-size:small;
    letter-spacing: 0.6px;
    font-weight:lighter;
    color: #fafafa;
    border: none;
}
:root {
    --dull-color: #9e9e9e;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.pointer {
    cursor: pointer;
}

.dull {
    color: var(--dull-color);
}

.brighten {
    transition: filter 0.2s ease;
}
.brighten:hover {
    filter: brightness(1.5);
}

.ul {
    transition: text-decoration 0.2s ease;
}
.ul:hover{
    text-decoration: underline;
    color:white;
}