.container-main {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.container-main__library {
    width: 280px;
    height: 520px;
    margin: 8px;
    background-color: #121212;
    border-radius: 6px;
}

.library-head {
    display: flex;
    flex-direction: column;
}

.library-head__controls {
    display: flex;
    margin: 10px;
    align-items: center;
    justify-content:space-around;
    padding-top: 8px;
    padding-right: 8px;
}
.library-head__controls h3 {
    font-size:medium;
    font-family: spotifyUIbold;
    margin-right: 60px;
    font-weight: 700;
    letter-spacing: normal;
}

.library-head__controls-expand {
    width: 16px;
    height: 16px;
}

.library-head__controls-add {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.25s ease;
}

.library-head__controls-add:hover {
    background-color: #2a2a2a;
}

.library-head__types {
    display: flex;
    margin: 8px 8px 8px;
}


.library-head__types span {
    background-color: #2a2a2a;
    padding: 8px 12px 8px 12px;
    border-radius: 18px;
    margin: 0px 5px;
    transition: background-color 0.25s ease;
}

.library-head__types span:hover{
    background-color: #343434;
}

.library-content {
    padding: 6px;
    height: 400px;
    overflow-y: auto;
}

@-moz-document url-prefix() {
.library-content {
    scrollbar-width: thin;
    scrollbar-color: #666 transparent;
}
.library-content:hover {
    scrollbar-color: #909090 transparent;
}
}

.library-content::-webkit-scrollbar {
  width: 12px;
}
.library-content::-webkit-scrollbar-thumb {
  background-color: #666;
}

.library-content::-webkit-scrollbar-thumb:hover {
  background-color: #909090;
}


.library-content__accessbar {
    display: flex;
    justify-content: space-between;
    padding: 0px 16px;
}
.library-content__accessbar-recents {
    width: 70px;
    display: flex;
    justify-content: space-between;
    transition: color 0.3s ease;
}

.library-content__accessbar-recents:hover {
    color: #d8d8d8;
}

.library-content__accessbar img {
    width: 16px;
    height: 16px;
}

.library-content__cardlist {
    display: flex;
    flex-direction: column;
    margin: 10px 0px 0px 0px;
    padding: 5px;
}




.library-content__card {
    min-height: 60px;
    padding: 4px;
    display: flex;
    height: 60px;
    margin-bottom: 2px;
    align-items: center;
    border-radius: 4px;
    transition: background-color 0.25s ease;
}
.library-content__card:hover {
    background-color: #1f1f1f;
}

.library-content__card-img{
    display: flex;
    align-items: center;
    margin-right: 10px;
}


.library-content__card-img img {
    border-radius: 4px;
    width: 46px;
    height: 46px;
}
.artist img {
    border-radius: 50%;
}


.library-content__card-detail {
    display: flex;
    flex-direction: column;
    margin-left: 4px;
}

.library-content__card-detail__title {
    font-size: larger;
    color: #ededed;
    font-weight: 500;
}
.library-content__card-detail > p:nth-child(2){
    color: var(--dull-color);
}