.container-bottom {
    display: flex;
    width: 100%;
    height: 100%;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
}

.bottom-song__content {
    width: 260px;
    display: flex;
    height:60px;
    justify-content: space-between;
    align-items: center;
}

.activesongdetail {
    margin-right: 8px;
}
.credits {
    font-size: smaller;
}

.activethumbnail {
    width: 56px;
    height: 56px;
    border-radius: 4px;
}


.addedtoplaylist {
    width: 16px;
    height: 16px;
}

.bottom-song__player {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.song-player__controls {
    height: 40px;
    width: 240px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.song-player__controls img {
    width: 18px;
    height: 18px;
}
.controls-play img {
    width: 16px;
    height: 16px;
}
.song-player__controls div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    background-color: white;
    border-radius: 50%;
}

.song-player__slider {
    display: flex;
    align-items: center;
    gap: 6px;
}
.slider-time {
    font-size: smaller;
    cursor:default;
}

.player-slider__line {
    width: 440px;
    height: 4px;
    background-color: #4e4e4e;
    border-radius: 5px;
}
.slider-line__filled {
    background-color: aliceblue;
    height: 100%;
    width: 52.6%;
    border-radius: 5px 2px 2px 5px;
}

.bottom-song__controls {
    width: 280px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 8px;
}
.bottom-song__controls img{
    width: 18px;
    height: 18px;
}
.volume {
    display: flex;
    align-items: center;
    gap: 6px;
}
.volume div {
    width: 90px;
    background-color: rgb(211, 211, 211);
    border-radius: 2px;
    height: 4px;
}
